body{
background:#000015;
}

*{
color:#fff;
}

.contenedor{
    border: #fff 2px solid;
    position: relative;
    left:0px;
    top: 0px;
    border-radius:10px;
    margin: 10px;
    padding: 5px;
    background:rgba(0,0,0,0.5);
    display:inline-table;
    width:320px;
    height:400px;
    transition-duration: 0.2s;
}

h1{
text-align:center;
}

a{
    text-decoration: none;

}

.contenedor:hover{
    background-color: #3a00157f;
    left: 10px;
    top: 10px;
}